header { 
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    font-family: Verdana, Geneva, sans-serif;
    color:#595959;
}
section { 
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    
}
footer { 
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    background-color:#2fb6dd;
    height: 3em;
}
.profile_img{
    width: 5em;
    border-radius: 100%;
    float:left;
}
h4{
font-family: Verdana, Geneva, sans-serif;
margin-left: 7em;
color: #2fb6dd;
}
p{
font-family: Verdana, Geneva, sans-serif;
margin-left: 7em;
margin-top: -1em;
color:#595959;
}
.post_img{
margin-left: 2.1em;
height: 8em;
}
.post{
border-bottom: 1px solid #c6c6c6;
min-height: 6em;
}